# Web Framework
fastapi==0.134.0
uvicorn==0.41.0
fastapi-cli==0.0.21

# Database
SQLAlchemy==2.0.41
alembic==1.16.0
aiomysql==0.2.0
PyMySQL==1.1.2

# Validation & Env
pydantic==2.12.5
pydantic-settings==2.13.0
python-dotenv==1.1.0

# Client & Integration
httpx==0.28.1
requests==2.32.0
sentry-sdk==2.53.0
python-multipart==0.0.22
